<footer>
  <div class="container text-center">
    <p class="pull-left">© 2018 Bunchbox, Inc. All Rights Reserved</p>
    <ul class="pull-right list-inline">
      <li><a href="https://github.com/bunchbox/javascript-sdk">GitHub Project</a></li>
    </ul>
  </div>
</footer>
