<% layout('layout') -%>

<h1>Bunchbox SDK Demo</h1>
<p class="lead">An Example Implementation of the Bunchbox JavaSript SDK.</p>
<hr/>
<div class="row">
  <form action="/api/track" method="post">
  <div class="col-sm-6">
    <button>Send my greetings</button>
  </div>
  </form>
</div>
